<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Register</h2>
    <hr>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
          [ngClass]="{ 'is-invalid': registerForm.get('name').touched && registerForm.get('name').invalid }"
          class="form-control" id="name" formControlName="name">
        <span class="invalid-feedback">Name can't be blank.</span>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
          [ngClass]="{ 'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid }"
          class="form-control" id="email" formControlName="email">
        <span class="invalid-feedback">
          <span *ngIf="registerForm.get('email').hasError('required')">Email can't be blank.</span>
          <span *ngIf="registerForm.get('email').hasError('email')">Email must be valid.</span>
        </span>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
          [ngClass]="{ 'is-invalid': registerForm.get('username').touched && registerForm.get('username').invalid }"
          class="form-control" id="username" formControlName="username">
        <span class="invalid-feedback">Username can't be blank.</span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
          [ngClass]="{ 'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid }"
          class="form-control" id="password" formControlName="password">
        <span class="invalid-feedback">
          <span *ngIf="registerForm.get('password').hasError('required')">Password can't be blank.</span>
          <span *ngIf="registerForm.get('password').hasError('minlength')">Password must have minimum
            {{ registerForm.get('password').errors.minlength.requiredLength }} characters </span>
          <span *ngIf="registerForm.get('password').hasError('symbol')">Password must contain @ </span>
        </span>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password"
          [ngClass]="{ 'is-invalid': registerForm.get('confirmPassword').dirty && registerForm.get('confirmPassword').invalid }"
          class="form-control" id="confirmPassword" formControlName="confirmPassword">
        <span class="invalid-feedback">Password must match.</span>
      </div>

      <button [disabled]="registerForm.invalid" class="btn btn-primary btn-lg btn-block">Register</button>
      <button type="button" class="btn btn-link btn-lg btn-block" routerLink="/login">Back to Login</button>
    </form>
  </div>
</div>
