/* You can add global styles to this file, and also import other style files */
.addPost {
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 50px;
}
